.admin-container {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

mat-card {
  width: 100%;
}

mat-card-actions {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}